<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:replace="fragments/templates :: header"/>

<body>
<th:block th:replace="fragments/templates :: auth-navbar"/>

<main class="container">
    <div class="content mt-5 ms-5 me-5">
        <h1 class="text-center">Customer cart</h1>
        <div th:if="${bookings.isEmpty()} == false">
            <div class="d-flex justify-content-end mb-4 mt-4">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#submitModal">
                    Submit Cart
                </button>

                <div id="submitModal" class="modal fade in">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Submit cart?</h2>
                                <button type="button" class="btn-close me-1" data-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p th:text="'Your order price going to be ' + ${cart.price.toString()}"></p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a th:href="@{/cart/submit}" class="btn btn-success">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover text-center align-middle">
                <thead>
                <tr class="active">
                    <th></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Ordered Date</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="booking : ${bookings}">
                    <tr th:object="${booking}">
                        <td></td>
                        <td th:text="*{id}"></td>
                        <td th:text="*{product.name}"></td>
                        <td th:text="*{productAmount}"></td>
                        <td th:text="*{product.price}"></td>
                        <td th:text="*{orderDate}"></td>
                        <td>
                            <a th:href="@{'/cart/delete/' + *{id}}" class="btn btn-danger me-1">REMOVE</a>
                        </td>
                    </tr>
                </th:block>
                <tr>
                    <td><strong>Sum</strong></td>
                    <td></td>
                    <td></td>
                    <td th:text="${cart.quantity}"></td>
                    <td th:text="${cart.price.toString()}"></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${bookings.isEmpty()}" class="text-center">
            <h5 class="mb-4 mt-4">There are no bookings ☹️</h5>
            <a th:href="@{/catalog/}" class="btn btn-success mt-2">Add new Booking!</a>
        </div>
    </div>
</main>

<th:block th:include="fragments/templates :: allJss"/>

</body>
</html>